* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none; /* 隐藏默认的实心圆 */
}

li {
  position: relative;
}

/* 默认主题（黑色） */
:root {
  --bg-color: #f6f6ef;
  --text-color: #151320;
  --separator-color: #8ab4f8;
}

/* 白色主题 */
.light {
  --bg-color: #202124;
  --text-color: #ffffff;
  --separator-color: #7566c4;
}

ul.disc {
  > li::before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    border: 3px solid var(--bg-color); /* 设置边框为黑色 */
    box-sizing: border-box; /* 设置边框大小不影响元素尺寸 */
    position: absolute;
    left: -13.5px;
    top: 50%; /* 将实心圆垂直居中 */
    transform: translateY(
      -50%
    ); /* 使用 transform 属性将实心圆向上平移一半高度 */
  }
}

ul.circle {
  > li::before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid var(--bg-color); /* 设置边框为黑色 */
    border-radius: 50%; /* 设置为圆形 */
    position: absolute;
    left: -13.5px;
    top: 50%;
    box-sizing: border-box; /* 设置边框大小不影响元素尺寸 */
    padding: 2px; /* 设置边框的内边距 */
    transform: translateY(
      -50%
    ); /* 使用 transform 属性将实心圆向上平移一半高度 */
  }
}

/* 最外层容器 */
body {
  font-family: arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--bg-color);
  line-height: 1.5;
  font-size: 14px;
}

a {
  color: var(--separator-color);
  text-decoration: none; /* 去除默认的下划线 */
  border-bottom: 1px solid var(--separator-color); /* 设置下划线为 1 像素宽的蓝色实线 */
  padding-bottom: 3px; /* 设置下划线的距离文本的距离 */
  box-sizing: content-box;
}

/* A4 纸容器 */
.a4-container {
  margin: 0px auto;
  background-color: var(--text-color);
  width: 794px;
  padding: 1cm;
  box-sizing: border-box;
}

.module-title.page {
  display: none;
}

/* 个人优势模块 */
.module {
  margin-bottom: 20px;
}

/* 修改后的样式 */
.module-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.module-title .icon-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  width: 0px;
  height: 0px;
  margin-right: 10px;
  border-radius: 50%;
  border: 20px solid var(--separator-color);
}

.icon-box.top {
  border-top: 18px solid var(--separator-color);
  border-bottom: 22px solid var(--separator-color);
  border-left: 20px solid var(--separator-color);
  border-right: 20px solid var(--separator-color);
}

.module-title .text {
  font-size: 24px;
  color: var(--separator-color);
  font-weight: bold;
  margin-right: 10px;
}

.separator {
  flex: 1;
  border-bottom: 1px solid var(--separator-color);
}
