/* 打印时样式，调整A4纸容器的大小 */
@media print {
  .a4-container {
    margin: 0;
    height: 2244px;
  }

  .module-title.page {
    display: flex;
    padding-top: 1cm;
  }

  .download-container,
  .menu-container {
    display: none;
  }

  .project-list-inline {
    width: 506.5px;
  }

  .project-label {
    margin-right: 31.5px;
  }

  .timeline-item-line {
    left: 30px;
  }

  .module span.icon {
    padding-top: 8px;
  }

  .header span.icon {
    padding-top: 3px;
  }

  .personal-info span.icon {
    padding-top: 2px;
  }
}
