.advantages {
  margin: 0;
  padding: 0;
  padding-left: 45px;
  display: flex;
  flex-direction: column;
}

.advantages li {
  margin-bottom: 7px;
}

.advantages li:last-child {
  margin-bottom: 0px;
}
