/* 简历标题 */
.title-box {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-right: 80px;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  // justify-content: center;
  align-items: baseline;
  font-size: 36px;
  margin-bottom: 20px;
}

.header .name {
  font-weight: bold;
  margin-right: 30px;
  line-height: 1;
}

.header .job-title {
  font-size: 24px;
  display: flex;
}

.job-title .icon {
  margin-right: 10px;
}

/* 个人信息 */
.personal-info {
  display: flex;
  // justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.personal-info .info-item {
  margin: 0 20px 0 10px;
  white-space: nowrap;
  padding-bottom: 1px;
}

.personal-info p:last-child .info-item {
  margin-right: 0;
}

.personal-info p {
  display: flex;
}

.online-box {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  img {
    width: 80px;
    height: 80px;
  }
  .online-image {
    width: 80px;
    height: 80px;
    border: none;
    padding-bottom: 0px;
  }
  .online-a {
    font-size: 10px;
    text-decoration: none;
    padding-left: 6px;
    padding-top: 5px;
    letter-spacing: 6px;
    padding-bottom: 2px;
  }
}

@media print {
  .header span.icon {
    padding-top: 3px;
  }

  .personal-info span.icon {
    padding-top: 2px;
  }
}

.small-screen .title-box {
  padding-right: 0px;
  .online-box {
    display: none;
  }
}
